:root{
	--defTextColor: #67657A;
	--main: #EB7C61;
	--secondary: #B9D5EB;
}

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
	line-height: 1.4;
	color: var(--defTextColor);
}

a{
	color: inherit;
}

img{
	max-width: 100%;
}



main{
	padding-top: 60px;
	padding-bottom: 60px;
}

.home{
	background-image: url("../images/home-back-image.png");
	background-size: cover;
	background-attachment: fixed;
}

.text-main{
	color: var(--main);
}

.days-list{
	padding: 0;
	margin: 60px 0;
	list-style: none;
}

.container{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.header{
	background-color: var(--main);
	text-align: right;
}

.menu{
	display: inline-flex;
	color: #fff;
	margin: 0;
	list-style: none;
	text-transform: uppercase;
}

	.menu__item{
		
	}

	.menu__link{
		text-decoration: none;
		display: block;
		padding: 10px 20px;
	}

.masters{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	padding: 0;
}

	.masters__item{
		width: calc(33.3333% - 30px);
		margin-left: 30px;
	}

	.media__link{
		display: block;
		text-align: center;
		text-decoration: none;
		position: relative;
		padding: 30px;
		transition: background-color 300ms;
	}
		.media__link:before,
		.media__link:after{
			content: "";
			position: absolute;
			display: block;
			width: 60px;
			height: 40px;
		}

		.media__link:before{
			border-top: solid 1px #fff;
			border-right: solid 1px #fff;
			top: 10px;
			right: 10px;
		}
		.media__link:after{
			border-bottom: solid 1px #fff;
			border-left: solid 1px #fff;
			bottom: 10px;
			left: 10px;
		}


		.media__link:hover{
			background-color: var(--secondary);
		}

		.media__link:hover .media__image{
			// transform: scale(0.8);
			filter: grayscale(1);
			border-radius: 0%;
		}

		.media__link:hover .media__title{
			color: var(--main);
		}

	.media__image{
		border-radius: 50%;
		transition: transform 300ms, border-radius 300ms;
	}

	.media__title{
		
	}

.intro{
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 10vh 0px;
}
	.intro__image{
		width: 55%;
	}
	.intro__text{
		width: 40%;
	}

