:root{
	--defTextColor: #67657A;
	--main: #EB7C61;
	--secondary: #B9D5EB;
}

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
	line-height: 1.2;
	color: var(--defTextColor);
	font-weight: 100;
}

a{
	color: inherit;
}

img{
	max-width: 100%;
}



html:not(.instructores) main{
	padding-top: 60px;
	padding-bottom: 60px;
}



.home{
	background-image: url("../images/home-back-image.png");
	background-size: cover;
	background-attachment: fixed;
}

.text-main{
	color: var(--main);
}

.days-list{
	padding: 0;
	margin: 60px 0;
	list-style: none;
}

.container{
	max-width: 1024px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.header{
	background-color: var(--main);
	height: 40px;
	width: 100%;
	position: fixed;
	z-index: 10000;
	top: 0;
}

@media screen and (max-width: 767px){
	.header{
		height: auto;
	}
}

.menu{
	display: flex;
	color: #fff;
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
	justify-content: flex-end;
}

	.menu__item, .menu li{
		height: 100%;
	}

	.menu__link{
		text-decoration: none;
		display: block;
		padding: 10px 20px;
	}

	@media screen and (max-width: 767px){
		.menu{
			align-items: center;
			justify-content: center;
		}
	}



.masters{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	padding: 0;
}

	.masters__item{
		width: calc(33.3333% - 30px);
		margin-left: 30px;
	}

	@media screen and (max-width: 767px){
		.masters__item{
			width: calc(50% - 30px);
		}
	}

	@media screen and (max-width: 479px){
		.masters__item{
			width: auto;
		}
	}
	



	.media__link{
		display: block;
		text-align: center;
		text-decoration: none;
		position: relative;
		padding: 30px;
		transition: background-color 300ms;
	}

		.days-list .media__link{
			transform: scaleX(0.7);
			transition: background-color 300ms, transform 300ms;
		}

		.media__link:before,
		.media__link:after{
			content: "";
			position: absolute;
			display: block;
			width: 60px;
			height: 40px;
			transition: all 300ms 50ms;
		}

		.media__link:before{
			border-top: solid 1px #fff;
			border-right: solid 1px #fff;
			top: 30px;
			right: 30px;
		}
		.media__link:after{
			border-bottom: solid 1px #fff;
			border-left: solid 1px #fff;
			bottom: 30px;
			left: 30px;
		}

		.media__link:hover:before{
			top: 10px;
			right: 10px;
		}
		.media__link:hover:after{
			bottom: 10px;
			left: 10px;
		}


		.media__link:hover{
			background-color: var(--secondary);
		}

		.days-list .media__link:hover{
			transform: scaleX(1);
		}

		.days-list .media__link:hover .media__title{
			 transform: scaleX(1);
		}

		.media__link:hover .media__image{
			// transform: scale(0.8);
			filter: grayscale(1);
			border-radius: 0%;
		}

		.media__link:hover .media__title{
			color: var(--main);
		}

	.media__image{
		border-radius: 50%;
		transition: transform 300ms, border-radius 300ms;
	}

	.media__title{
		font-weight: 100;
		text-transform: uppercase;
	}
		.days-list .media__title{
			transform: scaleX(1.3);
			transition: transform 300ms;
		}
		.media__title strong{
			font-weight: 700;
		}

		.masters-slider--dias .media__title{
			color: var(--main);
			font-weight: 700;
		}

.intro{
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 10vh 0px;
}
	
	.intro__image{
		width: 55%;
	}
	.intro__text{
		width: 40%;
	}

@media screen and (max-width: 767px){
	.intro{
		flex-direction: column;
	}
		.intro__image{
			width: auto;
		}
		.intro__text{
			width: auto;
		}
}

.masters-slider{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100vh;
}

	
	.withsubmenu .masters-slider{
		height: 100vh;
	}

	.masters-slider__item{
		background-image: linear-gradient(to right, #ffffff 0%,#ffffff 30%,var(--defTextColor) 30%,var(--defTextColor) 100%); 
		height: inherit;
		width: 100%;
	}
		@media screen and (max-width: 767px){
			.masters-slider__item{
				background: var(--defTextColor);
			}
		}
		.masters-slider--dias .masters-slider__item{
			background-image: linear-gradient(to right, #ffffff 0%,#ffffff 30%,var(--main) 30%,var(--main) 100%); 
		}

			@media screen and (max-width: 767px){
				.masters-slider--dias .masters-slider__item{
					background: var(--defTextColor);
				}
			}

	.masters-slider__title{
		font-weight: 100;
		font-size: 40px;
		margin: 0;
	}
		.masters-slider--dias .masters-slider__title{
			color: #3C3B47;
		} 
		.masters-slider__title strong{
			font-weight: 700;
		}


	.masters-slider__content{
		display: flex;
		height: inherit;
	}

		@media screen and (max-width: 767px){
			.masters-slider__content{
				flex-direction: column;
				overflow: auto;
			}
		}
	.masters-slider__alpha{
		width: 30%;
		text-align: center;
		background-color: #fff;
		padding-top: 80px;
		padding-left: 30px;
		padding-right: 30px;
	}
		@media screen and (max-width: 767px){
			.masters-slider__alpha{
				width: auto;
			}
		}

		.masters-slider--dias .masters-slider__alpha{
			/* text-align: left; */
			padding-top: 120px;
		} 

	.masters-slider__beta{
		width: 70%;
		background-color: var(--defTextColor);
		color: #fff;
		padding: 80px 0 60px 80px;
	}

		.masters-slider--dias .masters-slider__beta{
			background-color: var(--main);
			padding-top: 120px;
		}

		@media screen and (max-width: 767px){
			.masters-slider__beta{
				width: auto;
				padding: 30px;
			}
		}

		.masters-slider__beta p,
		.masters-slider__beta dt,
		.masters-slider__beta dd{
			color: #ccc;
		}
		.masters-slider__beta dd{
			margin-left: 0;
			font-weight: 100;
		}

		.masters-slider--dias .masters-slider__beta p,
		.masters-slider--dias .masters-slider__beta dt{
			color: #444343;
		}
		.masters-slider--dias .masters-slider__beta dd{
			color: #ecefda;
		}

	#prev, #next{
		position: absolute;
		top: 0;
		height: 100%;
		width: 100px;
		z-index: 1000;
		color: #fff;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 40px;
	}
	#prev{
		left: 0;
		background-image: linear-gradient(to right,#2B2B2B,transparent);
	}
	#next{
		right: 0;
		background-image: linear-gradient(to right,transparent,#2B2B2B);
	}



.submenu{
	background-color: var(--defTextColor);
	height: 40px;
}
.submenu__list{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

	.submenu__list a{
		display: block;
		padding: 10px 20px;
		color: #ECEFDA;
		text-transform: uppercase;
		text-decoration: none;
	}
		.submenu__list a:hover, .submenu__list .active{
			color: #B9D1E9;
		}

.inscribete{
	display: flex;
	margin-top: 50px;
}

.inscribete__left,
.inscribete__right{
	cursor: pointer;
	flex-grow: 0;
}

.inscribete__left{
	background-color: #AFAFAF;
	color: white;
	padding: 5px 20px 5px 40px;
	border-radius: 5px 0 0 5px;
}

.inscribete__center{
	overflow: hidden;
	display: flex;
	width: 70%;
	transition: width 300ms;
}
	.inscribete__center--collapsed{
		width: 0;
	}
	.inscribete__center input,
	.inscribete__center button{
		flex-grow: 1;
		border: none;
		padding: 5px;
		outline-color: transparent;
		cursor: pointer;
	}


.inscribete__right,
.inscribete__center button{
	background-color: #AFAFAF;
	color: white;
	border-radius: 0 5px 5px 0;
}

.inscribete__right{
	padding: 5px 20px 5px 20px;
}
.inscribete__center button{
	padding: 5px 10px 5px 10px;
}

.contact-info{

}
	.contact-info h2{
		text-align: center;
	}
.sponsors{
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	justify-content: space-between;
}
	.sponsors im{
		max-width: 100%;
	}




